<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <title>Todolist</title>
  </head>

  <body>

    <!-- Intestazione pagina -->

    <header>

      <img id="logo" src="img/logo.png" alt="logo">
      <h1>TO DO LIST</h1>

    </header>

    <!-- Sezione principale del sito -->

    <main>

      <div id="app" class="container">

        <!-- Aggiungere task -->

        <div class="new-task">

          <!-- Inserimento del task -->

          <input type="text" placeholder="Inserire task" v-model="newTask" @keyup.enter="addTask">
          
          <button @click="addTask">Aggiungi</button>
          <!-- Indica errore nell'inserimento del task -->

          <div id="error" v-if="error">

            <small>Devi inserire una task di almeno 5 caratteri</small>

          </div>

        </div>

        <!-- Contenitore dei tasks -->

        <div id="tasks-container">

          <!-- Taks -->

          <ul>
            <li class="task" v-for="(task, index) in tasks" :class="task.done === true ? 'strikethrough-text': ''">
              {{ task.text }}
              <i class="fas fa-times delete-task" @click="deleteTask(index)"></i>
            </li>
          </ul>

        </div>

      </div>

    </main>

    <!-- VueJS -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Javascript -->

    <script type="text/Javascript" src="js/index.js"></script>
    
  </body>

</html>